.home__hero-section {
  height: 88vh;
  color: #fff;
  padding: 100px 0;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgb(130, 23, 31, 0.7)), url("../../bg06.png");
  background-size: cover;
  text-align: justify;
}

.home__hero-row {
  align-items: center;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.home__hero-text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.top-line {
  color: #1c2237;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #ffffff;
}

.dark {
  color: #82171f;
  text-align: left;
}

.darkBg {
  /* background-color: #82171f; */
  /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 20%, rgba(255, 255, 255, 0.5) 60%); */
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.3), rgb(130, 23, 31, 0.7)), url("../../bg01.png");
  background-size: cover;

}

.home__hero-subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.home__hero-img-wrapper {
  max-width: 555px;
}

.home__hero-img {
  max-width: 95%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 10px;
  padding-right: 0;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

/* .home__hero-vid {
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  display: block;
  position: fixed;
  z-index: -1;
} */

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .home__hero-section {
    height: 88vh;
    color: #82171f;
    padding: 100px 40px 0px 0px;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgb(130, 23, 31, 0.7)), url("../../bg06.png");
    background-size: cover;
    text-align: justify;
  }

  .darkBg {
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.3), rgb(130, 23, 31, 0.7)), url("../../bg01.png");
    background-size: cover;
  }

}

@media screen and (max-width: 768px) {
  .home__hero-text-wrapper {
    padding-bottom: 65px;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}