.navbar {
	background: #82171f;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 9999999999999;
}

/* .navbar {
    margin-bottom: -90px;
    background: transparent;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  } */

.navbar-container {
	display: flex;
	justify-content: space-between;
	height: 80px;
}

.container {
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 50px;
	padding-left: 50px;
}

.navbar-logo {
	color: #ffffff;
	justify-self: start;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;
	display: flex;
	align-items: center;
}

.fa-box-open {
	margin-right: 0.5rem;
}

.nav-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	text-align: center;
	justify-content: end;
}

.nav-search {
	height: 80px;
	margin-right: 20px;
	border-bottom: 3px solid transparent;
}

.nav-search:hover {
	border-bottom: 3px solid #f0a672;
}

.nav-item {
	height: 80px;
	border-bottom: 3px solid transparent;
}

.nav-item:hover {
	border-bottom: 3px solid #f0a672;
}

.nav-btn {
	margin: 0 -48px 0 8px;
}

.nav-links {
	color: #fff;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0.5rem 1rem;
	height: 100%;
	background-size: 100% 200%;
	background-image: linear-gradient(to bottom, #82171f 50%, rgba(255, 255, 255, 0.1) 50%);
	transition: background-position 0.2s ease-in-out, color 0.2s ease-in-out;
}

.nav-links:hover {
	color: #1c2237;
	background-color: rgba(255, 255, 255, 0.1);
	transition: all 0.4s ease-out;
	background-position: 0 100%;
	/* background-color: #1c2237; */
}

.nav-links--active {
	color: #1c2237;
	background-color: rgba(255, 255, 255, 0.1);
	transition: all 0.4s ease-out;
	background-position: 0 100%;
	border-bottom: 3px solid #f0a672;
	height: 80px;
}

.fa-bars {
	color: #fff;
}

.menu-icon {
	display: none;
}

.user-name {
	/* display: inline-block; */
	width: 100%;
}

@media screen and (max-width: 960px) {
	.NavbarItems {
		position: relative;
	}

	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 90vh;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.nav-menu.active {
		background: #1c2237;
		left: 0;
		opacity: 1;
		transition: all 0.6s ease;
		z-index: 1;
	}

	.nav-links {
		color: #fff;
		text-align: center;
		align-items: center;
		padding: 0.5rem 1rem;
		width: 100%;
		height: 100%;
		display: table;
		text-decoration: none;
		background-size: 100% 200%;
		background-image: linear-gradient(to bottom, #82171f 50%, rgba(255, 255, 255, 0.1) 50%);
		transition: background-position 0.2s ease-in-out, color 0.2s ease-in-out;
	}

	.nav-links:hover {
		color: #fff;
		background-color: rgba(255, 255, 255, 0.1);
		transition: all 0.4s ease-out;
		background-position: 0 100%;
		/* background-color: #1c2237; */
	}

	.nav-links--active {
		color: #fff;
		background-color: rgba(255, 255, 255, 0.1);
		transition: all 0.4s ease-out;
		background-position: 0 100%;
		border-bottom: 3px solid #f0a672;
		height: 60px;
	}

	.nav-search {
		height: 80px;
		margin-right: 20px;
		border-bottom: 3px solid transparent;
	}

	.nav-search:hover {
		border-bottom: 3px solid #f0a672;
	}

	.nav-item {
		width: 100%;
		height: 60px;
		border-bottom: 3px solid transparent;
	}

	.nav-item:hover {
		border-bottom: 3px solid #f0a672;
	}

	.navbar-logo {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(15%, 5%);
	}

	.menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
	}

	.fa-times {
		color: #fff;
		font-size: 2rem;
	}

	.nav-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 20%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -40px;
	}
}
